$headerContactsBackgroundColor: #e9edef;
$headerNavigationBackgroundColor: #fff;
$tectColorHover: #fff;
$backgroundColorHover: #00466d;
$aBorderColor: #00466d;
$navBlockColor: #fff;
$textColorLi: #000;
$borderBottom: #f5f5f5;
$borderRight: #9dadb7;

$guttar: 1.5rem;

$bgImage: '../../../assets/logo.png';

.headerBlock {
    position: sticky;
    top: 0;
    z-index: 10;
    &__header {
        height: 100%;
        &__contactsBlok {
            background-color: $headerContactsBackgroundColor;
            display: flex;
            text-align: center;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
            padding-left: max($guttar, 50% - 850px);
            padding-right: max($guttar, 50% - 850px);
            &__connection {
                border-right: 1px solid $borderRight;
                margin-left: auto;
                padding-right: 1em;
            }
            &__language {
                display: flex;
                gap: 0.5em;
                padding: 0 1em;
            }
        }
        &__navigationBlok {
            font-size: 14px;
            background-color: $headerNavigationBackgroundColor;
            align-items: center;
            border-bottom: 1px solid $borderBottom;
            display: flex;
            flex: 1 1;
            padding: 1em 0;
            padding-left: max($guttar, 50% - 850px);
            padding-right: max($guttar, 50% - 850px);
            &__buttonBlok {
                align-items: center;
                display: flex;
                flex: 1 1;
                &__a {
                    &__imgBlock {
                        vertical-align: top;
                        &__img {
                            opacity: 1;
                            max-height: 3rem;
                            max-width: 8rem;
                        }
                    }
                }
                &__navigationButton {
                    margin-left: 1em;
                    display: flex;
                    flex: 1 1;
                    &__nuv {
                        flex: 1 1;
                        white-space: nowrap;
                        &__ul {
                            display: flex;
                            justify-content: center;
                            position: relative;
                            &__li {
                                &__a {
                                    color: $textColorLi;
                                    padding: 1em 0.7em;
                                    transition: 0.3s;
                                    cursor: pointer;
                                    display: flex;
                                }
                                &__a:hover {
                                    color: $tectColorHover;
                                    background: $backgroundColorHover;
                                }
                                &__newNav {
                                    background-color: $navBlockColor;
                                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                                        0 3px 6px rgba(0, 0, 0, 0.23);
                                    display: none;
                                    position: absolute;
                                    max-height: 450px;
                                    overflow-y: auto;
                                    &__newUl {
                                        &__newLi {
                                            &__newA {
                                                padding: 0.8em 1.5em;
                                                display: flex;
                                                color: $textColorLi;
                                                transition: 0.3s;
                                            }
                                            &__newA:hover {
                                                color: $tectColorHover;
                                                background: $backgroundColorHover;
                                            }
                                        }
                                    }
                                }
                            }
                            &__li:hover &__li__newNav {
                                display: block;
                            }
                        }
                    }
                }
            }
            &__bookingButton {
                gap: 0.3em;
                &__a {
                    align-items: center;
                    border: 3px solid $aBorderColor;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    padding: calc(1em - 3px) calc(1.3em - 3px);
                    transition: 0.3s;
                    white-space: nowrap;
                }
                &__a:hover {
                    color: $tectColorHover;
                    background-color: $backgroundColorHover;
                }
            }
        }
    }
}
