$tectColorH1: #fff;
$shadowTectColorH1: #242c31;

$guttar: 0rem;
$guttarrr: 3rem;

$bgImageH1: '../../../assets/cover.png';

.main {
    height: 100%;
    &__registrationBlock {
        height: 100%;
        margin-left: max(var(&guttar), 50% - 850px);
        margin-right: max(var(&guttar), 50% - 850px);
        &__imgBlock {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            &__text {
                color: $tectColorH1;
                font-weight: 700;
                margin: 0;
                max-width: 1200px;
                padding: 4rem 2rem;
                text-align: center;
                text-shadow: 2px 2px 8px $shadowTectColorH1;
                text-transform: uppercase;
                z-index: 1;
            }
            &__img {
                background-image: url(../../../assets/cover.png);
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                width: 100%;
            }
        }
        &__registrationForm {
            height: 100%;
            margin-left: max(var(&guttarrr), 50% - 850px);
            margin-right: max(var(&guttarrr), 50% - 850px);
            &__block {
                margin: 0 auto;
                max-width: 1200px;
                padding-bottom: 3rem;
                margin-top: 4rem;
                &__form {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    &__mainBlock {
                        background-color: rgb(255, 255, 255);
                        border-radius: 5px;
                        padding: 30px;
                        width: 500px;
                        color: rgb(0, 0, 0);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 30px 0px;
                        &__content {
                            display: flex;
                            min-width: 0;
                            width: 100%;
                            flex: 12;
                            &__reg {
                                flex: 1;
                                min-width: 0;
                                &__title {
                                    text-align: center;
                                    line-height: 1.2;
                                    padding-bottom: 15px;
                                    word-break: break-word;
                                    font-family: 'Open Sans', 'Arial',
                                        sans-serif;
                                    font-size: 13px;
                                    color: #000;
                                    &__two {
                                        text-align: center;
                                        line-height: 1.2;
                                        padding-bottom: 15px;
                                        word-break: break-word;
                                        font-family: 'Open Sans', 'Arial',
                                            sans-serif;
                                        font-size: 13px;
                                        color: #000;
                                        padding-top: 10px;
                                    }
                                }
                                &__inputObligatory {
                                    padding-bottom: 10px;
                                    color: #000;
                                    font-size: 14px;
                                    &__label {
                                        font-size: inherit;
                                        color: inherit;
                                        display: block;
                                        line-height: normal;
                                        padding-bottom: 4px;
                                        font-family: inherit;
                                        word-break: break-word;
                                    }
                                    &__labelError {
                                        font-size: inherit;
                                        color: red;
                                        display: block;
                                        line-height: normal;
                                        padding-bottom: 4px;
                                        font-family: inherit;
                                        word-break: break-word;
                                    }
                                    &__input {
                                        font-family: inherit;
                                        font-size: 13px;
                                        font-weight: 400;
                                        display: block;
                                        width: 100%;
                                        height: 30px;
                                        padding: 0 8px;
                                        transition: border 0.2s;
                                        border: 1px solid #e3e3e3;
                                        border-radius: 2px;
                                        outline: none;
                                        background-color: #fff;
                                        margin: 0;
                                        -webkit-font-smoothing: antialiased;
                                    }
                                    &__inputError {
                                        font-family: inherit;
                                        font-size: 13px;
                                        font-weight: 400;
                                        display: block;
                                        width: 100%;
                                        height: 30px;
                                        padding: 0 8px;
                                        transition: border 0.2s;
                                        border-radius: 2px;
                                        outline: none;
                                        background-color: #fff;
                                        margin: 0;
                                        -webkit-font-smoothing: antialiased;
                                        border: 1px solid red;
                                    }
                                    &__errorNone {
                                        display: none;
                                    }
                                    &__errorBlock {
                                        font-size: 12px;
                                        display: block;
                                        padding-top: 4px;
                                        color: red;
                                    }
                                    &__divCheckbox {
                                        box-sizing: border-box;
                                        background: none;
                                        background-image: none;
                                        height: auto;
                                        -webkit-font-smoothing: antialiased;
                                        padding-bottom: 10px;
                                        &__certain {
                                            align-items: baseline;
                                            color: #000;
                                            font-size: 14px;
                                            display: flex;
                                            flex-direction: row;
                                            &__input {
                                                margin: 3px 4px 3px 0;
                                            }
                                            &__label {
                                                font-size: inherit;
                                                color: inherit;
                                                display: block;
                                                line-height: normal;
                                                padding-bottom: 4px;
                                                font-family: inherit;
                                                word-break: break-word;
                                            }
                                        }
                                    }
                                    &__divA {
                                        text-align: left;
                                        line-height: 1.2;
                                        padding-bottom: 10px;
                                        color: #000;
                                        word-break: break-word;
                                        font-family: 'Open Sans', 'Arial',
                                            sans-serif;
                                        font-size: 13px;
                                    }
                                    &__divSpan {
                                        text-align: left;
                                        line-height: 1.2;
                                        padding-bottom: 10px;
                                        color: #000;
                                        &__span {
                                            font-size: 10px;
                                        }
                                    }
                                    &__divButton {
                                        padding-top: 50px;
                                        &__button {
                                            background-color: #003e69;
                                            border-radius: 2px;
                                            color: #ffffff;
                                            line-height: 1.2em;
                                            font-size: 14px;
                                            width: 100%;
                                            padding: 10px 10px;
                                            border: none;
                                        }
                                        &__button:hover {
                                            background-color: #000066;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

span {
    font-size: 20px;
}

.a:hover {
    text-decoration: underline;
}
